<router-outlet></router-outlet>
<div class="app-container">
    <div class="workspace">
        <mat-tab-group  animationDuration="0ms"  >
            <mat-tab label="Design" ><div class="design"><app-design></app-design></div></mat-tab>
            <mat-tab label="Code"><div class="code"><app-code></app-code></div></mat-tab>
        </mat-tab-group>  
    </div>
    <div class="sidebar">
        <div class="pallete"><app-pallete></app-pallete></div>
        <div class="props"><app-props></app-props></div>    
    </div>
</div>