<div class="section-header">Properties</div>
<div class="props-item">
    <div class="attribute">Height</div>
    <div class="value">10px</div>
 <!--    <div class="value" > <input placeholder="value" name="value" style="color:rgb(119, 117, 117)(185, 179, 179); border : 0px; "/>
    </div> -->
</div>
<div class="props-item">
    <div class="attribute">color</div>
    <div class="value">Blue</div>
  <!--   <div class="value" > <input placeholder="value" name="value" style="color:rgb(119, 117, 117)(185, 179, 179); border : 0px; "/>
    </div> -->
</div>